.phone-content {
  width: 576px;
}

.phone-map-block {
    background: url(../../public/images/phone/bg-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 452px;
    height: 765px;
    font-family: 'Inter', serif;
    top: 50px;
    right:100px;
    //border: 6.96965px solid #009EE6;
    //border-radius: 56px;
    position: absolute;
    //right: 20px;
}

.video-frame {
  width: 390px;
  overflow: hidden;
  //border:solid 1px red;
  //margin-left: 55px;
}

.photo-frame {
  //background: url(../../public/images/phone/gray-frame.svg);
  //margin-top: 120px;
  //margin-left: 20px;
  //width: 400px;
  //height: 239px;
  position: absolute;
  //top:-15px;
  //right: 5px;
  top: 125px;
  right: 45px;
}

.gray-border-frame {
  //border-radius: 12px;
  //border: solid 7px #878787;
  //width: 345px;
  //height: 239px;
  width: 336px;
  height: 220px;
  border-radius: 29px;
}

.phone-descr {
  margin-top: 300px;
  width: 393px;
  margin-left: 27px;
  height: 375px;
  overflow-y: scroll;
  overflow-x: hidden;

  .country-text {
    padding: 20px;
  }
}
.photo-content {
  width: 350px;
}

.phone-head-green {
  background: url(../../public/images/phone/green-head.svg);
  background-repeat: no-repeat;
  width: 558px;
  height: 163px;
  position: absolute;
  top: 16px;
  left: -51px;
  z-index: 999;

  span {
    color: #FFFF;
  }
}

.phone-descr {
  font-family: Inter;
  color: #818181;
  font-weight: 400;
}

.phone-content {
  width: 350px;
  background: #fff;
  margin: 55px;
  border: solid 1px red;
}

.title-head {
  font-size:50px;
  color:#FFFF;
text-align: center;
  font-weight: bold;
  font-family: Inter;
}

.close-phone {
  background: url(../../public/images/phone/close.svg);
  width: 64px;
  height: 64px;
  position: absolute;
  top: 46px;
  right: 105px;
  z-index: 999999;
}

.gotic-frame {
  background: url(../../public/images/phone/Border.svg);
  width: 346px;
  height: 239px;
  position: absolute;
  top: -12px;
}

.play-video {
  width: 156px;
  height: 58px;
  background-image: url(../../public/images/phone/play.svg);
  background-repeat: no-repeat;
}
