.phone-content {
  width: 576px;
}

.phone-map-block {
    background: url(../../public/images/phone/bg-phone.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 452px;
    height: 765px;
    font-family: 'Inter', serif;
    top: 20px;
    right:100px;
    //opacity: 0;
    //transition: all 2s;
    //border: 6.96965px solid #009EE6;
    //border-radius: 56px;
    position: absolute;
    //display: none;
    //right: 20px;
}
.phone-map-block-showed {
  opacity: 1
}

.video-frame {
  width: 390px;
  overflow: hidden;
  //border:solid 1px red;
  //margin-left: 55px;
}

.photo-frame {
  //background: url(../../public/images/phone/gray-frame.svg);
  //margin-top: 120px;
  //margin-left: 20px;
  //width: 400px;
  //height: 239px;
  position: absolute;
  //top:-15px;
  //right: 5px;
  //top: 109px;
  top: 110px;
  right: 45px;
}

.gray-border-frame {
  //border-radius: 12px;
  //border: solid 7px #878787;
  //width: 345px;
  //height: 239px;
  width: 336px;
  height: 220px;
  border-radius: 9px;
}

.phone-descr {
  margin-top: 340px;
  width: 393px;
  margin-left: 27px;
  height: 375px;
  //overflow-y: scroll;
  //overflow-x: hidden;
  //border: solid 1px red;
  //background: #0c63e4;

  .country-text {
    padding: 0 20px;
    margin-left: 15px;
    color: #818181;
    //border: solid 1px;
    //font-family: Inter;
    margin-top: 60px;
    height: 240px;
    line-height: 21px;
    letter-spacing: 0.7px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    //background: red;

    //border:solid 1px blue;

  }
}
.photo-content {
  width: 342px;
}

.phone-head-green {
  background: url(../../public/images/phone/green-head.svg);
  background-repeat: no-repeat;
  width: 558px;
  height: 163px;
  position: absolute;
  //top: 17px;
  top: 7px;
  left: -51px;
  z-index: 52;
  //display: none;

  span {
    color: #FFFF;
  }
}

.phone-descr {
  font-family: Inter;
  color: #818181;
  font-weight: 400;
}

.phone-content {
  width: 350px;
  background: #fff;
  margin: 55px;
  transition: opacity 2s;
  opacity: 0;

  //transition: all 8s;
  //opacity: 0;
  //border: solid 1px red;
}
.phone-content-displayed {
  opacity: 1
}

.title-head {
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: "Hind", sans-serif;
  margin-top: 5px;
}

.close-phone {
  background: url(../../public/images/phone/close.svg);
  width: 64px;
  height: 64px;
  position: absolute;
  top: 15px;
  right: 105px;
  z-index: 55;
}

.gotic-frame {
  background: url(../../public/images/phone/Border.svg);
  width: 346px;
  height: 239px;
  position: absolute;
  top: -12px;
}

.phone-frame {
  top: -8px;
  left: -3px;
}

.new-gotic {
  position: relative;
  height: 245px;
  border:solid 1px transparent;

  //=================================================
  //================IMAGE FRAME STYLES
  //=================================================
  .gotic-frame-gallery-top {
    background: url(../../public/images/gallery/Top.svg);
    position: absolute;
    //top: 0px;
    //left:0px;
    top: -6px;
    left: -6px;
    height: 11px;
    width: 342px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gotic-frame-gallery-bottom {
    background: url(../../public/images/gallery/Buttom.svg);
    position: absolute;
    //top: 0px;
    //left:0px;
    bottom: -3px;
    left: -6px;
    //width: 193px;
    height: 11px;
    width: 342px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gotic-frame-gallery-left {
    background: url(../../public/images/gallery/small/Left_small.svg);
    //background-size: contain;
    position: absolute;
    top: -1px;
    left: -6px;
    width: 10px;
    //height: 119px;
    height: 239px;
  }
  .gotic-frame-gallery-right {
    background: url(../../public/images/gallery/Right.svg);
    //background-size: contain;
    position: absolute;
    top: 0;
    right: 5px;
    width: 10px;
    height: 239px;
  }

  .img-content {
    width: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    height:239px;
  }

}

.main-phone-image {
  //width: 346px;
  //height: 224px;
  width: 337px;
  height: 228px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.div-img {
  height: 200px;
  background: green;

}

.div-img:after {
  content: '';

  position: absolute;
  left: 0;
  top: 0;

  border-top: 30px solid transparent;
  border-right: 30px solid green;
}

.div-img:before {
  content: '';

  position: absolute;
  right: 0;
  top: 170px;

  border-bottom: 30px solid white;
  border-left: 30px solid green;
}


.play-video {
  width: 156px;
  height: 58px;
  background-image: url(../../public/images/phone/play.svg);
  background-repeat: no-repeat;
  margin-left: 115px;
  margin-top: 25px;
}


#octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}

#octagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}

#octagon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
  width: 42px;
  height: 0;
}
