@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "components/variables";
@import 'components/mixins';
@import 'components/reset';
//@import 'components/phone';
@import 'components/phoneMap';
@import "components/imagegallery";
@import "components/countriesList";
//@import "components/home";
//@import "components/buttons";
//@import "components/modal";
//@import "components/form";
//@import "components/breadcrumb";
//@import "components/dropzone";
//@import "components/colorpicker";
//@import "components/dropdown";
//@import "components/alerts";
//@import "components/preview";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #F5F5F5;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none !important;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

body {
  background: #F5F5F5;
  //font-family: 'Raleway';

  main {
    @include less($large) {
      //margin: 0 16px;
      //padding-bottom: 200px;
      margin: 0 30px;
    }
    @include less($medium) {
      margin-top:  90px;
    }
  }
}

.marker, .marker-add {
  display: block;
  border: none;
  //border-radius: 50%;
  cursor: pointer;
  padding: 0;
  //background-image: url("../public/images/map/marker.svg");
  background-image: url("../public/images/map/pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;

  span {
    //margin-left: 9px;
    //margin-top: 5px;
    //width: 56px;
    //display: block;
    //background-image: url("../public/images/flags/1x1/cn.svg");
    margin-left: 15px;
    margin-top: 13px;
    width: 56px;
    display: block;
    background-repeat: no-repeat;
  }
}

.marker-add {
  width: 30px;
  height: 55px;
  background-image: url("../public/images/map/pin-add.svg");
}

.view-gallery {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top:10px;
}


.container {
  @include less($medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

.loader {
  @apply w-full h-full bg-black fixed opacity-75 top-0;
  z-index: 9999999;
  //margin-top: -90px;
}

.resource-head {
  @apply w-full text-center;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #3D3E52;
  margin-bottom: 30px;
}
.main-layout {
  position: relative;
}
.big-logo {
  position: absolute;
  background-image: url("../public/images/logo/big-logo.png");
  background-repeat: no-repeat;
  z-index: 9999;
  width: 200px;
  height: 100px;
  background-size: contain;
  top: calc(100vh - 105px);
}

.image-title {
  color: #000;
  margin-top: 20px;
  display: inline-block;
  min-height: 30px;
  text-align: center;
  font-weight: bold;
  width: 196px;
  //font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  em{
    font-style: normal;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
    position: relative;
    background: white;
    background: linear-gradient(to right, #fff1b2, #d08201);;
    transform: skewX(-10deg);
    display: inline-block;
  }

  //span {
  //  font-family: 'Bebas Neue', cursive;
  //  font-size: 3em;
  //  position: absolute;
  //  top: 50%;
  //  left: 50%;
  //  transform: translate(-50%,-50%);
  //  background-image: linear-gradient(gold, gold);
  //  background-size: 100% 10px;
  //  background-repeat: no-repeat;
  //  background-position: 100% 0%;
  //  transition: background-size .7s, background-position .5s ease-in-out;
  //}
  //
  //span:hover {
  //  background-size: 100% 100%;
  //  background-position: 0% 100%;
  //  transition: background-position .7s, background-size .5s ease-in-out;
  //}
}

